!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stripe Payments Demo
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@stripe", :name => "twitter:site"}/
    %meta{:content => "Stripe Payments Demo", :name => "twitter:title"}/
    %meta{:content => "Sample store accepting universal payments on the web with Stripe Elements, Payment Request, Apple Pay, Google Pay, and the Sources API.", :name => "twitter:description"}/
    %meta{:content => "https://stripe-payments-demo.appspot.com/images/twitter.png", :name => "twitter:image"}/
    %link{:href => "/stylesheets/store.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/logo.png", :rel => "icon", :sizes => "104x80", :type => "image/png"}/
    = csrf_meta_tags
    = javascript_tag "window._token = '#{form_authenticity_token}'"
  %body
    = yield
    / Stripe.js v3 for Elements

    %script{:src => "https://js.stripe.com/v3/"}
    / Library to render QR codes
    %script{:src => "https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"}
    / App
    %script{:src => "/javascripts/store.js"}
    %script{:src => "/javascripts/payments.js"}
